---
import Button from "./Button.astro";
const { name, role, description, mail, imageSrc, fired } = Astro.props;
---

<article class={fired && "fired"}>
  <img src=`${imageSrc}` alt=`Image og ${name}` />
  <div class="container">
    <h3>{name}</h3>
    {fired ? <p class="title">Fired</p> : <p class="title">{role}</p>}
    <p>{description}</p>
    <p>
      <p>{!fired && <a href=`mailto:${mail}`>{mail}</a>}.</p>
      <p><Button text={fired ? "Nothing to Learn" : "Learn more"} variant={fired ? "disabled" : "dark"} /></p>
    </p>
  </div>

  <style>
    article {
      background-color: #fff;
    }

    img {
      max-width: 100%;
    }

    .container {
      padding: 0 1rem;
    }

    .title {
      color: grey;
    }

    .fired {
      color: #888;
    }
    .fired .title {
      color: red;
      font-style: italic;
    }
    .fired img {
      filter: saturate(0%);
      opacity: 0.5;
    }
  </style>
</article>
